<div class="container">
  <div class="col-md-12 mt-2 px-6">
    <div class="text-center mb-5">
      <h5 class="display-6 fw-bolder"><%= link_to post.title, post_path(post), data: { turbo: false } %></h5>
      <h2 class="display-6 fst-italic"><%= post.body %></h2>
      <h2 class="display-6 fst-italic"><%= "Author - #{post.user.email}" %></h2>
    </div>
  </div>
</div>
